@font-face {
  font-family: sanukRegular;
  src: url(../font/sanuklf-regular-webfont.woff) format("woff"),
    url(../font/sanuklf-regular-webfont.woff2) format("woff2");
}

@font-face {
  font-family: sanukBoldItalic;
  src: url(../font/sanuk-bolditalic-webfont.woff) format("woff"),
    url(../font/sanuk-bolditalic-webfont.woff2) format("woff2");
}

body {
  margin: 0px;
  background-image: url(../img/back2.jpg);
  background-repeat: repeat;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.abertura {
  position: absolute;
  width: 100%;
  height: 100%;
}

.abertura .caleidos {
  position: absolute;
  left: -148px;
  top: -145px;
}

.abertura .elementos {
  position: absolute;
  left: -400px;
  bottom: -155px;
}

.abertura .alagados-box {
  position: absolute;
  width: 100%;
  bottom: -190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.abertura .alagados {
  max-width: 642px;
  max-height: 327px;
}

.abertura .moto {
  position: absolute;
  bottom: -30px;
  left: -50px;
}

.abertura .oculos {
  position: absolute;
  bottom: -30px;
  left: 110px;
}

/* .abertura .alagados img {
  width: 100%;
} */

.abertura .ubc {
  position: absolute;
  right: 0;
  top: 0;
  width: 65vw;
  mix-blend-mode: multiply;
}

.header-logo {
  width: 100%;
  padding: 40px 0 0 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 10;
}

.slide-wrapper {
  position: relative;
  overflow: hidden;
  padding: 70px 0 0 0;
  z-index: 20;
}

.aarte {
  margin: -100px auto 0 auto;
  z-index: 520;
  position: relative;
  width: 85vw;
  max-width: 850px;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 70vw;
  max-width: 700px;
  margin: 0 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  opacity: 0.7;
  transform: scale(0.8);
  transition: 0.4s;
  cursor: grab;
}

.slide li:active {
  cursor: grabbing;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.box-pag {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 500;
}

.pag {
}

.arrow-nav {
  position: absolute;
  top: 40px;
  right: 200px;
  z-index: 800;
  display: flex;
  flex: row;
}
.arrow-nav div {
  width: 20px;
  height: 35px;
  cursor: pointer;
  margin: 5px 20px 0 20px;
  transition: all 0.5s ease-out;
}

.arrow-nav div:active {
  transform: scale(1.5);
}

[data-controle="slide"] {
  display: flex;
  justify-content: flex-start;
  width: 135px;
  flex-wrap: wrap;
  z-index: 999;
}
[data-controle="slide"] li a {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  overflow: hidden;
  text-indent: -999px;
  margin: 3px;
  opacity: 0.6;
}

[data-controle="slide"] li.active a,
[data-controle="slide"] li a:hover {
  background: #ffffff;
  opacity: 1;
}

.frases {
  position: relative;
  height: 100%;
}
.frases ul {
  height: 100%;
  overflow: hidden;
}
.frases ul li {
  opacity: 0;
  visibility: hidden;
  height: 0;
  font-size: 13px;
  color: #ffd500;
  font-family: sanukRegular;
  line-height: 18px;
  transform: translate(0, 50px);
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.5s ease-out;
  margin: 0 25px 0 20px;
}
.frases ul li .trecho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  opacity: 0.9;
}
.frases ul li span.creditos {
  font-size: 10px;
  color: #ffffff;
  opacity: 0.5;
  margin: 0 0 15px 0;
}

.frases ul li.active {
  height: 100%;
  visibility: visible;
  transform: translate(0, 0);
  opacity: 1 !important;
}

.box-frases {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 365px;
  height: 165px;
  z-index: 999999999;
}

.box-frases .box-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #160903;
  opacity: 0.96;
  mix-blend-mode: multiply;
}

@media screen and (max-width: 500px) {
  .box-frases {
    width: 100%;
  }
  .slide li {
    width: 90vw;
    max-width: 900px;
  }
}
