body {
  margin: 0px;
  background-image: url(../img/back2.jpg);
  background-repeat: repeat;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.abertura {
  position: absolute;
  width: 100%;
  height: 100%;
}

.abertura .ubc {
  position: absolute;
  right: 0;
  top: 0;
  width: 65vw;
  mix-blend-mode: multiply;
}

.header-logo {
  width: 100%;
  padding: 40px 0 0 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 10;
}

.slide-wrapper {
  position: relative;
  overflow: hidden;
  padding: 80px 0 0 0;
  z-index: 20;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 70vw;
  max-width: 700px;
  margin: 0 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  opacity: 0.7;
  transform: scale(0.8);
  transition: 0.4s;
  cursor: grab;
}

.slide li:active {
  cursor: grabbing;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.box-pag {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -107px;
}

.pag {
  display: flex;
  justify-content: flex-end;
  width: 70vw;
  max-width: 700px;
}

.arrow-nav {
  position: relative;
  z-index: 800;
}

[data-controle="slide"] {
  display: flex;
  justify-content: center;
  width: 135px;
  flex-wrap: wrap;
  z-index: 999;
  margin: 65px -67px 0 0;
}
[data-controle="slide"] li a {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  overflow: hidden;
  text-indent: -999px;
  margin: 3px;
  opacity: 0.6;
}

[data-controle="slide"] li.active a,
[data-controle="slide"] li a:hover {
  background: #ffffff;
  opacity: 1;
}

/* .frases {
  position: absolute;
  top: 0;
} */
.frases ul li {
  display: none;
  font-size: 80px;
  color: #ffffff;
}

.frases ul li.active {
  display: block;
}
